/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Imports */
@font-face {
  src: url(../fonts/HARRYP.ttf);
  font-family: harryPotter;
}

/* varibles */
:root {
  --heading: harryPotter;
}

h1 {
  font-family: var(--heading);
  letter-spacing: 0.1rem;
  font-size: 4rem;
}

ul {
  width: 100%;
}
li {
  background: gray;
  padding: 0.5rem;
  width: 100%;
}
li:nth-child(even) {
  background: lightgray;
}
main {
  width: 50%;
  margin: auto;
}
.image {
  position: relative;
  content: " ";
  display: block;
  width: 15rem;
  height: 19rem;
  overflow: hidden;
  float: right;
}
.image img {
  position: absolute;
  width: 33rem;
  mix-blend-mode: multiply;
}
.crestGrif img {
  top: -21rem;
  left: -18rem;
}
.crestHuf img {
  top: -21rem;
  left: 0;
}
.crestSlit img {
  top: 0;
  left: -17.5rem;
}
#modal {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem 25% 1.5rem 25%;
}
#modal button {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}
#modal h2 {
  font-size: 2rem;
  color: white;
}
.colorSlit {
  background: rgba(22, 48, 42, 0.9);
}
.colorHuf {
  background: yellow;
}
.colorGrif {
  background: orangered;
}
.colorRaven {
  background: blue;
}
.hide {
  display: none !important;
}
button {
  cursor: pointer;
}
